/*  your css code here. If applicable */
*{
	padding: 20px;
	margin: 0;
	box-sizing: border-box;
}

.card{
	width: 500px;
	padding: 20px;
	background-color: #f3f3f3;
	box-shadow: 0 0 20px #c1c1c1;
	text-align: center;
	borcer-radius: 8px;
}
.card img{
	padding: 50px;
	width: 100%;
	height: 500px;
	border-radius: 8px;
}
.card h1{
	margin-top: 15px;
	font-size: 24px;
}
.btn{
	padding: 20px;
	background-color: #fe625a;
	border-radius: 20px;
	color: white;
	font-size: 20px;
	border: none;
}












